.list-head,
.list-item {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.list-item {
  margin: 0 0 -1px;
  border: 1px solid black;
}

.list-head div,
.list-item div {
  display: flex;
  padding: 0 4px;
  min-width: 50px;
}

.list-head .list-item-title,
.list-item .list-item-title {
  width: 200px;
}

.list-item-score {
  justify-content: center;
}
